[% start_year=2016 %]
=encoding UTF-8

=head1 NAME

JSON::Whitespace - Remove whitespace from JSON

=head1 SYNOPSIS

[% INCLUDE "whitespace-synopsis.pl" | xtidy %]

This outputs

[% INCLUDE "whitespace-synopsis-out.txt" | xtidy %]

[% version_text %]


[% INCLUDE "author" %]
